{% extends 'base.html' %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/output.css' %}" />
{% endblock %}

{% block content %}
<div class=form-content>
  <h1>Tagged Text</h1>
    <div class="output">
    <table class="output_table">
        <tr>
            <th>Word</th>
            <th>Tag</th>
            <th>Full Tag</th>
        </tr>

    {% for word in tagged_text %}
        <tr>
            <td> {{ word.0 }} </td>
            <td> {{ word.1 }} </td>
            <td> {{ word.2 }} </td>
        </tr>

    {% endfor %}
    </table>
</div>
{% endblock %}
